h1 {
  text-align: center;
}

h2 {
  text-align: center;
  text-transform: lowercase;
}
.lightbulb {
  border: 10x solid black;
    width: 250px ;
    height: 250px ;
    text-align: center;
    display: center;
    justify-content: space-around;
    margin: auto;
    align-items: center;
  }
    
 